$fontColor: #1d1f22;
$focussedColor: #5ece7b;
@font-face {
  font-family: "r-regular";
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "r-semibold";
  src: url(../assets/fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "r-light";
  src: url(../assets/fonts/raleway/Raleway-ExtraLight.ttf);
}
.out-stock {
  opacity: 1;
  font-family: "r-regular";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.disabled-item {
  cursor: grab !important;
  filter: grayscale(100%);
  opacity: 0.7;
}
.category-wrapper {
  width: 100%;
  margin-top: 5%;
  h1 {
    font-family: "r-regular";
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 42px;
    color: $fontColor;
    text-transform: capitalize;
  }
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  a {
    text-decoration: none;
    color: $fontColor;
    cursor: pointer;
  }
  .category-item {
    cursor: pointer;
    margin-right: 2%;
    margin-bottom: 5%;
    .p-div {
      padding: 6%;
    }
    .product-image {
      height: 354px;
      width: 330px;
      object-fit: scale-down;
    }
    .add-cart:hover {
      cursor: pointer;
    }
    h4 {
      color: $fontColor;
      font-family: "r-light";
      margin-top: 2%;
      margin-bottom: 2%;
    }
    span {
      font-family: "r-semibold";
    }
  }
}
